body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #F8EEE7;
}

a {
  text-decoration: none;
}

em {
  text-decoration: underline;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header {
  height: 20vh;
  background-color: #49274A;
  padding: 0 5%;
}

h1 {
  color: white;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#presentation {
  background-color: #94618E;
  color: white;
  text-align: left;
  padding: 75px 5%;
}

#presentation p {
  width: 50%;
}

#section-table {
  width: 90%;
  margin: 5% auto;
}

footer {
  height: 10vh;
  background-color: black; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {

  header {
    height: 100vh;
  }

  #approche p {
    width: 100%;
  }

  .barre {
    margin: 10px 0;
    display: block;
  }

  #menu-gauche {
    flex-direction: column;
    width: 70%;
  }

  #info-contact {
    margin-top: 15px;
    border-top: 2px solid white;
    padding-top: 15px;
  }

  #projets .contenu {
    margin: 0;
    width: 100%;
    padding: 1% 0;
  }

  .coin-droit, .coin-gauche {
    display: none;
  }

  #cliniques {
    width: 100%;
  }
}
